<template>
    <div>
        <!-- Like figma design -->
        <b-card
        v-if="figmaDesign"
        @click="handleCardRedirection(link.link)"
        overlay
        :img-src="link.image"
        :img-alt="link.title ? link.title : 'no-alt'"
        tag="article"
        class="mb-2 cursor-pointer"
        >
            <b-card-footer class="text-white position-down" v-if="link.title || link.subtitle || link.price">
                <h4 v-if="link.title">{{ link.title }}</h4>
                <h6 v-if="link.subtitle">{{ link.subtitle }}</h6>
                <h4 v-if="link.price">$ {{ link.price }}</h4>
            </b-card-footer>
        </b-card>
        <!-- End like figma design -->

        <!-- Other design with footer instead of put wording on the image cards -->
        <b-card
        v-if="!figmaDesign"
        @click="handleCardRedirection(link.link)"
        no-body
        :img-src="link.image"
        :img-alt="link.title ? link.title : 'no-alt'"
        tag="article"
        class="mb-2 cursor-pointer"
        >
            <b-card-footer class="bg-white" v-if="link.title || link.subtitle || link.price">
                <h4 class="wrap-text" v-if="link.title">{{ link.title }}</h4>
                <h6 v-if="link.subtitle">{{ link.subtitle }}</h6>
                <h4 v-if="link.price">$ {{ link.price }}</h4>
            </b-card-footer>
        </b-card>
        <!-- End Other design with footer instead of put wording on the image cards -->
    </div>
</template>
  
<script>
  export default {
    props: {
      link: {
        type: Array,
        required: true
      },
      figmaDesign: {
        type: Boolean
      }
    },
    methods: {
        handleCardRedirection(url) {
            window.location.href = url;
      },
    }
  }
</script>

<style scoped>
    .cursor-pointer {
        cursor: pointer;
    }
    .wrap-text {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    }
    .position-down {
        width: 100%;
        padding-top: 2rem;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0) 10.73%, rgba(0, 0, 0, 0.8) 100%);
        bottom: 0;
        position: absolute;
        left: 0;
        border-top: none;
        background-color: transparent;
    }
    .position-down h4 {
        font-size: 18px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
    .position-down h6 {
        font-size: 14px;
    }

    @media screen and (min-width: 375px) and (max-width: 768px) {
        .position-down h4 {
            font-size: 14px;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }
        .position-down h6 {
        font-size: 10px;
        }
    }
</style>