<template>
  <div>
    <b-container fluid class="header-card">
      <b-card
        overlay
        :img-src="headerUrl"
        img-alt="Header Image"
        text-variant="white"
        body-class="display-4 padding-header text-sm"
      >
        <b-card-text>
          Ofertas para aprovechar <br>
          desde tu casa
        </b-card-text>
      </b-card>
    </b-container>
    <b-container v-if="!turismoCityData.length && !erroMessage.length" class="d-flex justify-content-center mt-4">
      <b-spinner class="lg-spinner" variant="primary"></b-spinner>
    </b-container>
    <b-container>
      <b-row v-if="turismoCityData">
        <b-col v-for="item in turismoCityData" :key="item.name" cols="12" class="pt-5">
          <b-row class="turismo-advertisement d-flex align-items-center">
            <b-col cols="6">
              <h4 class="turismo-blue fw-bold">{{ item.title }}</h4>
              <h6 class="turismo-blue fw-normal mt-2">{{ item.subtitle }}</h6>
            </b-col>
            <b-col cols="6" class="d-flex justify-content-end pb-5 pt-3">
              <b-img :src="item.image" fluid class="card-fit-content" :alt="item.name" ></b-img>
            </b-col>
          </b-row>
          <b-row class="turismo-advertisement-cards-container">
            <b-col v-for="(link, index) in item.links" :key="`${name}-${index}`" :cols="isSmallScreen ? 6 : 3">
              <!-- With the props figmaDesign return cards with the wording floating on them -->
              <AdvertisementCard :link="link" figmaDesign></AdvertisementCard>
              <!-- Without the prop figmaDesign return cards with the wording on a small footer below the card -->
              <!-- <AdvertisementCard :link="link"></AdvertisementCard> -->
            </b-col>
          </b-row>
          <b-row>
            <b-col cols="12" class="d-flex justify-content-center mt-4 pb-5">
              <b-button :href="item.home" class="px-4" pill variant="primary">Ver más opciones en <strong>{{ item.name }}</strong></b-button>
            </b-col>
          </b-row>
          <hr>
        </b-col>
      </b-row>
    </b-container>
    <b-container v-if="erroMessage.length" class="mt-4">
      <b-alert show variant="danger" class="text-center">{{ erroMessage }}</b-alert>
    </b-container>
  </div>
</template>

<script>
import HeaderBackground from "../assets/images/fondo_cuarentena.png";
import { getProducts } from "../config/utils";
import AdvertisementCard from "./AdvertisementCard.vue";

export default {
    name: 'Test',
    components: {
      AdvertisementCard
    },
    data() {
      return {
        headerUrl: HeaderBackground,
        turismoCityData: [],
        isSmallScreen: false,
        erroMessage: '',
      }
    },
    mounted() {
      this.fetchData();
      this.checkScreenSize();
      window.addEventListener('resize', this.checkScreenSize);
    },
    beforeDestroy() {
      window.removeEventListener('resize', this.checkScreenSize);
    },
    methods: {
      fetchData() {
        getProducts().then(products => {
          this.turismoCityData = products;
        }).catch(err => {
          this.erroMessage = err.message ? err.message : 'Server error';
          console.error(err);
        })
      },
      checkScreenSize() {
        this.isSmallScreen = window.innerWidth <= 768;
      }
    }
  }
</script>

<style scoped>
  .padding-header {
    padding-top: 3rem;
    padding-left: 5rem;
  }

  .container-fluid {
      padding: 0;
  }

  .turismo-blue {
    color: #1D4D8B;
  }

  .separation-line {
    background-color: #BAC6D3;
  }

  .card-fit-content {
    width: 290px;
  }

  .lg-spinner {
    width: 5rem; 
    height: 5rem;
  }

  @media screen and (min-width: 375px) and (max-width: 768px) {
    .text-sm {
      font-size: 30px;
      padding: 2rem 0;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
    }

    .header-card .card .position-relative img {
      height: 200px;
    }

    .turismo-advertisement-cards-container .col-6 {
      padding-left: 4px;
    }

    .card-fit-content {
      width: 200px;
      height: fit-content;
      margin: auto;
    }

    .turismo-advertisement {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .turismo-advertisement .col-6 {
      width: 80%;
      text-align: center;
    }

    .turismo-blue.fw-bold {
      font-size: 23px;
    }

    .turismo.fw-normal {
      font-size: 16px;
    }
  }
</style>
